<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.mw.growthhacker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 检测联网方式，区分用户设备使用的是2G、3G或是WiFi -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 判断程序是否在前台运行,非必须 -->
    <!-- <uses-permission android:name="android.permission.GET_TASKS" /> -->
    <!-- 检测手机基本状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".activity.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="growthHacker" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ShopDetailActivity" />
        <activity
            android:name=".activity.O2ODetailActivity"
            android:label="@string/menu_text_02">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="magicwindow.o2olist"
                    android:scheme="mw" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TourDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.NewsDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.VideoDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <!-- 主activity，必加 -->
        <activity
            android:name="cn.magicwindow.common.MWActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="magicwindow.cn"
                    android:scheme="mw" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="MW_APPID"
            android:value="UTZXKECR5VP0JB9PW3VQRQPP3DH7PZHC" />

        <!-- 渠道 -->
        <meta-data
            android:name="MW_CHANNEL"
            android:value="魔窗" />
    </application>

</manifest>